.qualite img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.qualite h4  {
  padding: 20px 40px;
}
.qualite p {
  padding: 0 40px;
}


@media (width < 1200px) {
  .qualite img {
    height: 550px;
  }
}