.recrutement img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.recrutement h4  {
  padding: 20px 40px;
}
.recrutement p {
  padding: 0 40px;
}
.nos-offres,
.multispecialiste,
.rencontrez {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nos-offres h4,
.multispecialiste h4,
.rencontrez h4 {
  padding: 20px 0px;
  width: 100%;
}
.nos-offres section,
.multispecialiste section,
.rencontrez section {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nos-offres section a img,
.multispecialiste section a img,
.rencontrez section a img {  
  height: 250px;
}
.multispecialiste {
  background-color: #eee;
}


@media (width < 1200px) {
  .recrutement img {
    height: 550px;
  }
  .nos-offres,
  .multispecialiste,
  .rencontrez {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nos-offres section,
  .multispecialiste section,
  .rencontrez section {
    padding: 20px 0;
  }
  .nos-offres section,
  .multispecialiste section,
  .rencontrez section,
  .nos-offres section a,
  .multispecialiste section a,
  .rencontrez section a,
  .nos-offres section a img,
  .multispecialiste section a img,
  .rencontrez section a img {
    width: 100%;
  }
  .nos-offres section a img,
  .multispecialiste section a img,
  .rencontrez section a img {
    height: 500px;
  }
}